.header {
	height: 65px;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.flex {
	display: flex;
	justify-content: space-between;
   flex-wrap: nowrap;
}

.navLink {
   box-sizing: border-box;
	list-style-type: none;
	line-height: 65px;
   transition: .2s;
   color: rgba(0, 0, 0, 0.8);
   padding: 0 40px;
   white-space: nowrap;
}

.navLink:hover {
   color: rgba(0, 139, 252, .8);
}
